body, html {
    margin: 0;
    padding: 0;
}

.game {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1% 0 1% 0;
}

.settings {
    width: 80%;
    height: 19%;
    background-color: bisque;
}

.gameBoard {
    max-width: 600px;;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.score {
    width: 20%;
    height: 19%;
    margin: 1% auto;
    padding: 5px;
    text-align: center;
    background-color: brown;
}

.sixOnSix {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: burlywood;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    transition: all 0.1s ease-in;
}

.hidden {
    opacity: 0;
}

.foreground {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 0.05s ease-in;
    abackground-color: red;
    
}

.background {
    width: 100px;
    height: 100px;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    display: block;
    font-size: 50px;
}

.clicked {
    opacity: 0;
}