body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #00cec9;
}

label {
    color: white;
}

.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    transition: all 0.2s linear;
}
.game {
    width: 720px;
    margin: 50px auto 50px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1% 0 1% 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s linear;
}

.gameBoard {
    width: 700px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    
}

.score {
    width: 20%;
    height: 19%;
    margin: 1% auto;
    padding: 5px;
    text-align: center;
    background-color: #dfe6e9;
    border: 2px solid black;
}

.sixOnSix {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: #2d3436;
    text-align: center;
    line-height: 100px;
    transition: all 0.1s ease-in;
    
}

.hidden {
    opacity: 0;
}

.foreground {
    position: absolute;
    width: 100px;
    height: 100px;
    transition: all 0.1s ease-in;
    abackground-color: #d63031;
    border: 2px solid black;
    box-sizing: border-box;
    
}

.background {
    width: 100px;
    height: 100px;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    display: block;
    font-size: 50px;
    color: white;
}

.clicked {
    height: 0;
    border-top: 0;
}

.hidden2{
    display: none;
}

.applyBtn {
    display: block;
    margin: 0 auto;
}

.rankList {
    color: white;
}

@media only screen and (max-width: 700px) {
    .gameBoard, .game {
        width: 95%;
    }

    .game {
        margin: 5px auto 5px auto;
    }

    .gameBoard {
        padding: 0;
    }

    .background, .sixOnSix, .foreground {
        width: 80px;
        height: 80px;
        font-size: 40px;
        line-height: 80px;
    }

    .clicked {
        height: 70px;
        opacity: 0;
    }
}

@media only screen and (min-width: 945px) and (max-width: 1160px){
    .gameBoard, .game {
        width: 500px; 
    }
}