@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Bold.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body {
    background-color: #DDCECD;
}

body.dark {
    background-color: #3A405A;
}

label {
    color: white;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid white;
    align-self: stretch;
    width: 315px;
}

td, th {
    padding: 5px;
}

tbody td:nth-child(2){
    text-align: center;
}


table thead th:nth-child(1){
    width: 70%;
}

tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.4);
  }

button {
    font-size: 0.9em;
    font-weight: 600;
    background-color: rgb(250, 250, 250);
    border: 1px solid black;
    width: 130px;
    height: 30px;
}

select {
    background-color: white;
    width: 130px;
    height: 25px;
    font-size: 0.9em;
}

input {
    background-color: white;
    width: 130px;
    height: 25px;
    font-size: 0.9em;
}

img {
    margin: 10px auto;
    width: 200px;
    height: auto;
}

.modal img {
    margin-top: 80px;
}

.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: all 0.2s linear;
}

.modal.dark {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}

.modal * {
    margin: 5px;
}

.game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    background-color:white;
    background-image: linear-gradient(90deg, rgba(221, 206, 205,0.5) 50%, transparent 50%),
    linear-gradient(rgba(221, 206, 205,0.5) 50%, transparent 50%);
    background-size:50px 50px;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1% 0 1% 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s linear;
}

.game.dark {
    background-image: linear-gradient(90deg, rgba(242, 192, 120,0.3) 50%, transparent 50%),
    linear-gradient(rgba(242, 192, 120,0.3) 50%, transparent 50%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.gameBoard {
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    
}

.score {
    width: 35%;
    height: 19%;
    margin: 1% auto;
    padding: 2px;
    text-align: center;
    background-color: #EEE5E5;
    border: 2px solid black;
    font-family: ubuntu;
}

.score2 {
    width: 25%;
    padding: 5px;
    margin: 0 auto 2% auto;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    font-size: 0.9em;
    font-weight: 600;
    color: #19647E;
}

.go, .score, .score2, .applyBtn, select input {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.sixOnSix {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 5px;
    text-align: center;
    transition: all 0.1s ease-in;    
}

.hidden {
    opacity: 0;
    cursor: default;
}

.foreground {
    position: absolute;
    width: 35px;
    height: 35px;
    transition: all 0.1s ease-in;
    background-color: #19647E;
    border: 3px solid #37392E;
    box-sizing: border-box;
    transform: translate(0);
    border-radius: 5px;
    cursor: pointer;
}

.foreground.dark {
    background-color: #D64550;
}

.background {
    width: 35px;
    height: 35px;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    display: block;
    font-size: 25px;
    line-height: 35px;
    color: #EEE5E5;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #28AFB0;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in;
}
.background.dark {
    background-color: #F2C078;
    color: #1C2826;
}

.clicked {
    opacity: 0;
    border: 0;
}


.applyBtn, .go {
    display: block;
    margin: 0 auto; 
}

.rankList {
    color: white;
    align-self: stretch;
}
.headScore {
    text-align: center;
}

.hidden2{
    display: none;
}

.highlighted {
    background-color: white !important; 
    color: black;
    font: 600;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 44px;
  }
  
.switch input {display:none;}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #37392E;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.switch input:checked + .slider {
    background-color: #37392E;
  }
  
.switch input:focus + .slider {
    box-shadow: 0 0 1px #37392E;
  }
  
.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

@media only screen and (min-width: 360px) and (max-width: 400px){
    .background, .sixOnSix, .foreground {
        width: 55px;
        height: 55px;
        font-size: 35px;
        line-height: 55px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 450px){
    .background, .sixOnSix, .foreground {
        width: 65px;
        height: 65px;
        font-size: 45px;
        line-height: 65px;
    }
}

@media only screen and (min-width: 451px) and (max-width: 600px){
    .background, .sixOnSix, .foreground {
        width: 75px;
        height: 75px;
        font-size: 55px;
        line-height: 75px;
    }
}

@media only screen and (max-width: 480px) and (orientation: landscape){
    .gameBoard {
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }

    .background, .sixOnSix, .foreground {
        width: 35px;
        height: 35px;
        font-size: 20px;
        line-height: 35px;
    }
}
    

@media only screen and (min-width: 601px) and (max-width: 900px){
    .background, .sixOnSix, .foreground {
        width: 100px;
        height: 100px;
        font-size: 74px;
        line-height: 100px;
    }

    .score {
        font-size: 1.2em;
    }

    img {
        width: 300px;
        margin: 15px auto;
    }
}

@media only screen and (min-width: 481px) and (max-width: 800px) and (orientation: landscape){
    .gameBoard {
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }

    .background, .sixOnSix, .foreground {
        width: 45px;
        height: 45px;
        font-size: 28px;
        line-height: 45px;
    }

    img {
        margin: 5px auto;
    }
}

@media only screen and (min-width: 901px){
    .game {
        width: 65%;
    }

    .background, .sixOnSix, .foreground {
        width: 130px;
        height: 130px;
        font-size: 100px;
        line-height: 130px;
    }

    .score {
        font-size: 2em;
        margin: 20px auto;
    }

    img {
        width: auto;
        margin: 20px auto;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1150px) and (orientation: landscape){
    .game {
        width: 90%;
    }
    .gameBoard {
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }

    .background, .sixOnSix, .foreground {
        width: 80px;
        height: 80px;
        font-size: 50px;
        line-height: 80px;
    }

    img {
        margin: 5px auto;
    }
}

@media only screen and (min-width: 1151px) and (orientation: landscape){
    .game {
        width: 95%;
    }
    .gameBoard {
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }

    .background, .sixOnSix, .foreground {
        width: 130px;
        height: 130px;
        font-size: 100px;
        line-height: 130px;
    }

    img {
        margin: 5px auto;
    }
}

@media only screen and (min-width: 1400px){
    .game {
        width: 70%;
    }
}